@import "~react-toolbox/lib/colors";

$color-primary: #e50914;
$color-primary-dark: #cc0812;
$color-primary-light: #f8434c;

$color-accent: #ffb20d;
$color-accent-dark: #af7709;
$color-accent-light: #fccb60;
